/* Gaya untuk class kustom */
.custom-class {
    color: green;
    font-style: italic;
}

/* Gaya untuk tata letak */
.container {
    display: flex;
}

.sidebar {
    width: 30%;
    background-color: lightgray;
}

.content {
    width: 70%;
    background-color: white;
}

/* Gaya untuk header dan footer */
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
